<div class="body-wrapper">
    <div class="left-bar">
        <% @monthyears.each do |year, months| %>
            <div class="year-box">
                <h1><%= year %></h1>
                <% months.each do |month| %>
                    <span class="month-button"><%= month %></span><br />
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="right-bar">
        <div class="right-bar-container">
            <% @incomeyears.each do |monthyear, days| %>
                <div class="month-box">
                    <h1><%= monthyear.to_s %></h1>
                    <% days.each do |day, incomes| %>
                        <div class="day-box">
                            <div class="day-header">
                                <h2><%= day.to_s %></h2><a class="income-total"></a>
                            </div>
                            <br />
                            <% incomes.each do |income| %>
                                <% @color = Chroma.paint income.category.color %>
                                <div class="income-wrapper">
                                    <%= link_to "#{ income.category.name }", edit_income_path(income), class: "income-catgeory" %>
                                    <div class="income-price-wrapper">
                                        <% if @color.light? %>
                                            <%= content_tag(:span, income.value, class: "income-price", style: "background-color: #{ @color.to_hex }") %>
                                        <% else %>
                                            <%= content_tag(:span, income.value, class: "income-price", style: "background-color: #{ @color.to_hex }; color: #FFFFFF") %>
                                        <% end %>
                                    </div>
                                    <br />
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>