<div style="width: 100vw; height: 50px;"></div>

<div class="form-wrapper">
    <h2>New Category</h2>
    <br />
    <%= form_for @category do |f| %>
        <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        <br />
        <% @colour = "%06x" % (rand * 0xffffff) %>
        <%= f.hidden_field :color, :value => @colour %>
        <div class="actions">
            <%= f.submit "Submit" %>
        </div>
    <% end %>
</div>