<!DOCTYPE html>
<html>
  <head>
    <title>Jdk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  </head>

  <body>
    <% if notice.present? %>
      <p class="notice close"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert close"><%= alert %></p>
    <% end %>

    <div class="navbar">
      <div class="log-out">
        <%= link_to "Log Out", log_out_path %>
      </div>
      <span class="new-income-button"><%= link_to "+", new_income_path %></span>
    </div>

    <%= yield %>
  </body>
</html>
<script>
  $(document).ready(function(){
    $(".log-out").click(function(){
      <% session.delete :user_id %>
      window.location.href = "/";
    });
  });
</script>
